{% extends "base.html" %}

{% block title %}Reset Password | GLH{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="/static/css/forgot-password.css">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="bg-overlay"></div>

<div class="layout fade-in">

    <!-- LEFT PANEL-->
    <div class="left-panel">
        <h2>Secure</h2>
        <p>Create a new GLH password</p>
    </div>

    <div class="divider-line"></div>

    <!-- RIGHT PANEL -->
    <div class="right-panel">

        <div class="brand-heading">
            <span class="brand-main">GLH</span>
            <span class="brand-sub">Food & Drink</span>
        </div>

        <div class="card">

            <!--BACK -->
            <a href="{{ url_for('auth.reset_verify') }}" class="back-btn" id="backBtn">
                <span class="arrow">←</span>
                Back
            </a>

            <!-- ICON-->
            <div class="icon-wrap">
                <img src="/static/images/reset_password.png" class="icon-img">
            </div>

            <h1>Create New Password</h1>

            <p class="otp-text">
                Your new password must be different from previous ones
            </p>

            <!-- FLASH -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="alerts">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            <form method="POST">

                <!-- PASSWORD -->
                <div class="label-row">
                    <div class="label-left">
                        <label>Password</label>

                        <div class="info-wrap">
                            <button class="info-btn" type="button">i</button>

                            <div class="tooltip">
                                <p class="tip-title">Password requirements</p>
                                <ul>
                                    <li>Minimum 8 characters</li>
                                    <li>At least one letter</li>
                                    <li>At least one number</li>
                                    <li>At least one special characters</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-icon password-field">
                    <input id="password" name="password" type="password" required placeholder="***********">
                    
                    <button type="button" class="eye-btn" data-target="password"
                    aria-label="Show or hide password">
                    <svg viewBox="0 0 24 24" class="eye-svg">
                        <path
                        class="eye-outline"  d="M1 12s4-6 11-6 11 6 11 6-4 6-11 6S1 12 1 12z" />
                        <circle cx="12" cy="12" r="3" />
                        
                        <!-- EYE SLASH -->
                        <line class="eye-slash" x1="4" y1="20" x2="20" y2="4" />
                    </svg>
                </button>
            </div>


            <!-- CONFIRM -->
            <label>Confirm Password</label>

            <div class="input-icon">
                <input id="confirm" name="confirm_password" type="password" required placeholder="***********">
                
                <button type="button" class="eye-btn" data-target="confirm">
                    <svg viewBox="0 0 24 24" class="eye-svg">
                        <path
                        class="eye-outline"  d="M1 12s4-6 11-6 11 6 11 6-4 6-11 6S1 12 1 12z" />
                        <circle cx="12" cy="12" r="3" />
                        
                        <!-- EYE SLASH -->
                         <line class="eye-slash" x1="4" y1="20" x2="20" y2="4" />
                        </svg>
                    </button>
                </div>

                <!-- BUTTON -->
                <button id="resetBtn" class="primary-btn" disabled>
                    Save Password
                </button>

                <p class="alt">
                    Remember your password?
                    <a href="{{ url_for('auth.login') }}">Login</a>
                </p>
            </form>

        </div>
    </div>
</div>

<!-- LOADER -->
<div class="otp-loader" id="otpLoader">
    <div class="loader-content">
        <div class="spinner"></div>
        <p class="loader-text">Updating passwords...</p>
    </div>
</div>

{% endblock %}

{% block page_js %}
<script defer src="/static/js/register.js"></script>
{% endblock  %}